# Default ignored files
/../../P12956 /.idea/shelf/
/../../P12956 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../P12956 /.idea/httpRequests/
# Datasource local storage ignored files
/../../P12956 /.idea/dataSources/
/../../P12956 /.idea/dataSources.local.xml
